<p id="notice"><%= notice %></p>
	<h1><%= @adress.adress %></h1>
	<p><%=@user%>'s adress.</p>
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.hu/maps?q=<%=@adress.adress%>&amp;ie=UTF8&amp;hq=&amp;hnear=<%=@adress.adress%>&amp;gl=hu&amp;ll=47.498406,19.040758&amp;spn=4.208673,9.876709&amp;t=h&amp;z=7&amp;output=embed"></iframe><br /><small><a href="http://maps.google.hu/maps?q=<%=@adress.adress%>&amp;ie=UTF8&amp;hq=&amp;hnear=<%=@adress.adress%>&amp;gl=hu&amp;ll=47.498406,19.040758&amp;spn=4.208673,9.876709&amp;t=h&amp;z=7&amp;source=embed" style="color:#0000FF;text-align:left">Nagyobb térképre váltás</a></small>

